<div class="container center-container">
    <h2>Cadastro de Usuários!</h2>
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="form-label" for="name">Nome:</label>
            <input type="text" 
                [(ngModel)]="person.name" 
                class="form-input form-control" 
                name="name" 
                id="name" 
                formControlName="name"
                required
                minlength="3"
                maxlength="50"
            >
            <div class="mesagens-input" *ngIf="personForm.get('name')?.invalid && personForm.get('name')?.errors && 
                (personForm.get('name')?.dirty || personForm.get('name')?.touched)">
                <small class="messagem-error" *ngIf="personForm.get('name')?.hasError('required')">
                    Campo nome obrigatório
                </small>
                <small class="messagem-error" *ngIf="personForm.get('name')?.hasError('minlength')">
                    Quantidade mínima de {{personForm.get('name')?.errors?.['minlength']?.requiredLength}} caracteres
                </small>
            </div>
        </div>
        
        <div class="form-group">
            <label class="form-label" for="email">E-mail:</label>
            <input type="text" 
                [(ngModel)]="person.email" 
                class="form-input form-control" 
                name="email" 
                id="email" 
                formControlName="email"
                required
            >
            <div class="mesagens-input" *ngIf="personForm.get('email')?.invalid && personForm.get('email')?.errors && 
                (personForm.get('email')?.dirty || personForm.get('email')?.touched)">
                <small class="messagem-error" *ngIf="personForm.get('email')?.hasError('required')">
                    Campo e-mail obrigatório
                </small>
                <small class="messagem-error" *ngIf="personForm.get('email')?.hasError('email')">
                    Valor inválido
                </small>
            </div>
        </div>
        
        <div class="form-group">
            <label class="form-label" for="password">Senha:</label>
            <input type="password" 
                [(ngModel)]="person.password" 
                class="form-input form-control" 
                name="password" 
                id="password" 
                formControlName="password"
                required
                minlength="6"
                maxlength="20"
            >
            <div class="mesagens-input" *ngIf="personForm.get('password')?.invalid && personForm.get('password')?.errors && 
                (personForm.get('password')?.dirty || personForm.get('password')?.touched)">
                <small class="messagem-error" *ngIf="personForm.get('password')?.hasError('required')">
                    Campo senha obrigatório
                </small>
                <small class="messagem-error" *ngIf="personForm.get('password')?.hasError('minlength')">
                    Quantidade mínima de {{personForm.get('password')?.errors?.['minlength']?.requiredLength}} caracteres
                </small>
            </div>
        </div>
        
        <div class="form-group">
            <label class="form-label" for="confirmPassword">Confirmação de Senha:</label>
            <input type="password" 
                [(ngModel)]="person.confirmPassword" 
                class="form-input form-control" 
                name="confirmPassword" 
                id="confirmPassword" 
                formControlName="confirmPassword"
                required
                minlength="6"
                maxlength="20"
            >
            <div class="mesagens-input" *ngIf="personForm.get('confirmPassword')?.invalid && personForm.get('confirmPassword')?.errors && 
                (personForm.get('confirmPassword')?.dirty || personForm.get('confirmPassword')?.touched)">
                <small class="messagem-error" *ngIf="personForm.get('confirmPassword')?.hasError('required')">
                    Campo Confirmação de senha obrigatório
                </small>
                <small class="messagem-error" *ngIf="personForm.get('confirmPassword')?.hasError('minlength')">
                    Quantidade mínima de {{personForm.get('confirmPassword')?.errors?.['minlength']?.requiredLength}} caracteres
                </small>
            </div>
            <div class="mesagens-input" *ngIf="person.confirmPassword">
                <small class="messagem-error" *ngIf="person.password != person.confirmPassword">
                    O campo Senha e Confirmação de senha estão diferentes  
                </small>
            </div>
        </div>
      
        <div>
            <button 
                [disabled]="personForm.invalid || (person.password != person.confirmPassword)"
                class="btn btn-primary mt-4 btn-submit" 
                type="submit"
            >Salvar
            </button>
            <button 
                class="btn btn-primary mt-4 btn-cancel" 
                type="button" 
                (click)="cleanForm()"
            >Limpar
            </button>
        </div>
    </form>
</div>