.form-group {
    margin: 15px 5px;
}

.form-label {
    font-size: 14px;
    color: black;
    margin: 0px 10px;
}

.form-input {
    margin: 0px 10px;
    padding: 2px 10px;
    height: 25px;
    width: 350px;
}

.btn-submit {
    margin: 0px 15px;
    padding: 2px 25px;
}

.btn-cancel {
    margin: 0px 15px;
    padding: 2px 25px;
}

.messagem-error {
    padding-left: 10px;
    margin: 2px 0px;
    font-size: 10px;
    color: red;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}